/**
 * Variables:
 *
 * This file holds all the global less variables.
 */

// Plan colors
@white: #ffffff;

@sidebarBaseColor: #00796B;
@sidebarHeaderColor: darken(@sidebarBaseColor, 2%);
@sidebarTitleColor:  lighten(@sidebarBaseColor, 30%);
@sidebarMenuItem: #b2bfdc;
@sidebarMenuItemHover: #e99d1a;

// Font-names
@montserrat: "montserrat";