.alert, .btn, .form, .form-control, .navbar, .list-group, .panel, .panel-heading, .container .jumbotron {
  border-radius: 0px;
}
body {
  padding-top: 30px;
}
.container .jumbotron .alert p {
  font-size: 14px;
}
.login-panel {
  border: 0px;
}
.jumbotron h1 {
  font-size: 38px;
}

.jumbotron .social-group a {
  padding: 5px;
}

.jumbotron p.social-group {
  margin-top: 25px;
}

.jumbotron ul {
    font-size: 21px;
}

.jumbotron hr {
    border-color: #c6c6c6;
}

.github {
  color: #000000;
}
.stackoverflow {
  color: #F48024;
}
.linkedin {
  color: #0077B5;
}
.facebook {
  color: #4862A3;
}
.googleplus {
  color: #E92C34;
}
.youtube {
  color: #C1181D;
}
.twitter {
  color: #55ACEE;
}
.tumble {
  color: #34465D;
}

footer .navbar {
  border: 0px;
  box-shadow: none;
  background-image: none;
}

footer .navbar-text.navbar-right:last-child {
  margin-right: 45px;
}

footer .navbar-inverse .navbar-text, footer .navbar-inverse .navbar-text a, footer .navbar-inverse .navbar-text a:hover {
  color: #ffffff;
}

.btn,
.dropdown-menu,
.navbar,
.breadcrumb,
.pagination,
.container .jumbotron,
.container-fluid .jumbotron,
.alert,
.progress,
.list-group-item,
.panel,
.modal-content,
.nav-tabs>li>a,
.tooltip-inner,
.popover,
.panel-group .panel,
.dropdown-menu {
  border-radius: 0;
}

.btn-primary {
	background-color: #4b637d;
}

.btn-success {
	background-color: #6AA53B;
}

.navbar-inverse {
	background-color: #332C2F;
}
